streamlit
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
faiss-cpu
huggingface-hub
sentence-transformers
transformers
torch
pypdf
langchain-google-genai
tensorflow


# tf-keras


